.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #EB8473;
    padding: 0.5rem 0;
    margin top: 0;
}

.logo {
    max-width: 100%; /* Asegura que el logo no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto del logo */
}



.banner img{
height: 300px;
display: flex;
justify-content: center;
align-items: center;}

.banner {display: flex;}
.banner h1 {font-family: poppins;}

.presentacion p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}



p{font-size: 1rem;
font-family: poppins;}
h6 {font-family: poppins;}

h2 {font-family: poppins;
font-size: 1rem;}
h4{font-family: poppins;
font-size: 0.5rem;}

section div img {height: 30rem;}
section img {height: 15rem;}

.proyecto {text-align: center;}
section h5 {text-align: center;}

.nuevoproyecto {text-align: center;
background-color: #EB8473;}
.derechos {font-size: 0.5rem;
text-align: center;}

.header-container {display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;}

.logo {max-width: 100px; 
height: auto;}

.nav-menu {display: flex;
justify-content: center;}

.menu-list {list-style: none;
text-decoration: none;
font-family: poppins;
display: flex;
gap: 20px;
margin: 0;
padding: 0;}

.menu-list a {text-decoration: none;
color: black;
display: flex;
gap: 20px;}

footer {display: flex;
justify-content: center;
gap: 20px;}
